<ngb-carousel class="carrusel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel/1.jpg">
      </div>
      <div class="carousel-caption">
        <h3>Francis Bacon</h3>
        <p>"La lectura hace al hombre completo; la conversación lo hace ágil, el escribir lo hace preciso"</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel/2.jpg">
      </div>
      <div class="carousel-caption">
        <h3>Miguel de Cervantes</h3>
        <p>"El que lee mucho y anda mucho, ve mucho y sabe mucho"</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="carrusel" src="./assets/Carrusel/3.jpg">
      </div>
      <div class="carousel-caption">
        <h3>Arthur Schopenhauer</h3>
        <p>"Leer es equivalente a pensar con la cabeza de otra persona en lugar de con la propia"</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img id="carrusel" src="./assets/Carrusel/4.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Franz Kafka</h3>
          <p>"Un libro debe ser el hacha que rompa el mar helado que hay dentro de nosotros"</p>
        </div>
    </ng-template>
</ngb-carousel>

  
